
body{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#gameBoard{
    width: 800px;    
    height: 600px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin:0;
    padding:0;
}
#playBoard{
    cursor: none;
    position: relative;
    width: 800px;    
    height: 540px;
    border-style:solid;
    border-width:5px;
    background-image: url(images/duck_hunt_background.jpg);
    background-size: contain;
    background-color: rgb(37, 117, 37);
    border-color:black;
    margin:0;
    padding:0;
}

.hiddenAudio{
    display: none;
}

#eagle{
    right: 600px;
    position: absolute;
    width: 90px;
    transform: scaleX(1);
}
#gooseRight{
    position: absolute;
    width: 90px;
    right: 0px;
    margin-top: 220px;
    margin-bottom: 220px;
}

#testTarget{
    position: absolute;
    width: 90px;
    margin-top: 220px;
    margin-bottom: 220px;
    margin-left: 50px;
    margin-right: 500px;
    z-index: 1;
}


#crossHair{
    top: 245px;
    left: 375px;
    position: absolute;
    background:url('./images/crosshair.png');
    background-size: 100%;
    height: 50px;
    width: 50px;
    z-index: 2;

}

#gunBox{
    position: absolute;
    transform: rotate(0deg);
    margin-top: 380px;
    margin-bottom: 60px;
    margin-left: 300px;
    margin-right: 300px;
    height: 400px;
}



#infoBoard{
    border-style:solid;
    border-width:5px;
    border-color:green;
    margin:0;
    padding:0;

    margin-top: -60px;
    position: absolute;
    height: 80px;
    width: 801px;
    display: flex;
    background-color: salmon;
    flex-direction: row;
    justify-content: space-between;
     
}

#gunImage{
    width: 100%;
}
#centerElements{
    height:75%;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    display: flex;
}
#xBox{
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    display: flex;
     
}
.x{
    width: 60px;
    height: 60px;
}

#ammoBox{
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    display: flex;
     
}
.ammonIcon{
    height: 50%;
    width: auto;
}

#roundNumber{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: large;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


#pauseButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
