
body{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

button {
    display: block;
}

#mainContent{
    position: absolute; 
    width: 800px; 
    height: 620px; 
    border-style: solid; 
    border-width: 15%; 
}

#menuLayer{
    width: 800px;    
    height: 620px;
    z-index: 101;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4); 
}

#endscreenLayer{
    width: 800px;    
    height: 620px;
    z-index: 103;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4); 
}

#endscreen{
    position: absolute; 
    height: 60%; 
    width: 50%; 
    top: 5%; 
    left: 25%; 
    color: white;
}

#tyfp {
    position: absolute; 
    width: 65%;
    height: 32%; 
    left: 17.5%; 
    top: 15%; 
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 250%; 
    text-align: center;
    border-style: solid; 
    border-width: 5%; 
}

#roundResult {
    position: absolute; 
    width: 80%;
    height: 35%; 
    left: 10%; 
    top: 60%; 
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 150%; 
    text-align: center;
}

#scoreResult {
    position: absolute; 
    width: 80%;
    height: 35%; 
    left: 10%; 
    top: 75%; 
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 150%; 
    text-align: center;
}

#endScreenReturnButton {
    top: 90%;
}

#adviceLayer{
    color: white;
    width: 800px;    
    height: 540px;
    z-index: 102;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4); 
}

#adviceBoard{
    position: absolute; 
    height: 72.5%; 
    width: 90%; 
    top: 5%; 
    left: 5%; 
    color: white;
}

#welcome{
    position: absolute; 
    width: 65%;
    height: 12.5%; 
    left: 17.5%; 
    top: 7.5%; 
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 250%; 
    text-align: center;
    border-style: solid; 
    border-width: 5%; 
}

.instruction{
    position: absolute; 
    width: 30%; 
    height: 25%; 
    top: 57.5%; 
    border-style: solid; 
    border-width: 5%; 
    background-color: rgba(255, 255, 255, 0.25); 
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}

#goal {
    border-color: white; 
    width: 45%; 
    left: 26.5%;
    top: 25%; 
    font-size: 150%; 
    line-height: 60%; 
}

#roundAdvice{
    border-color: red;
    left: 0%; 
    line-height: 150%; 
}

#strikesAdvice{
    border-color: yellow;
    left: 35%; 
    line-height: 120%;
}

#ammoAdvice{
    border-color: lightgreen;
    left: 70%; 
    line-height: 150%; 
}

#adviceBackButton{
    top: 90%;
    left: 41.667%; 
    width: 16.667%; 
}

#gameBoard{
    position: absolute; 
    width: 800px;    
    height: 620px;
    z-index: 0;
}
#playBoard{
    overflow: hidden;
    cursor: none;
    position: relative;
    width: 800px;    
    height: 540px;
    /* border-style:solid;
    border-width:5px; */
    background-image: url(images/duck_hunt_background.jpg);
    background-size: contain;
    background-color: rgb(37, 117, 37);
    border-color:black;
    margin:0;
    /* padding:-5px; */
    position: absolute; 
}

#infoBoard{
    position: absolute;
    height: 80px;
    width: 800px;
    top: 540px; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 0;
}
.hiddenAudio{
    display: none;
}

#eagle{
    right: 600px;
    position: absolute;
    width: 90px;
    transform: scaleX(1);
}
#gooseRight{
    right: 0px;
    top: 200px;
    position: absolute;
    width: 90px;
    transform: scaleX(1);
}

#crossHair{
    top: 245px;
    left: 375px;
    position: absolute;
    background:url('./images/crosshair.png');
    background-size: 100%;
    height: 50px;
    width: 50px;
    z-index: 2;

}

#gunBox, #minigunBox{
    position: absolute;
    transform: rotate(0deg);
    margin-top: 380px;
    margin-bottom: 60px;
    margin-left: 300px;
    margin-right: 300px;
    height: 400px;
}

#infoBoard{
    /* border-style:solid;
    border-width:5px; */
    border-color:#7fcf0e;
    position: absolute;
    height: 80px;
    width: 800px;
    display: flex;
    background-color: #877000;
    flex-direction: row;
    justify-content: space-around;
}

#gunImage{
    width: 100%;
}
#centerElements{
    margin-top: 10px;
    height:75%;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    display: flex;
}
#xBox{
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    display: flex;
    border-color : transparent;
    border-width: 5px;
    border-style: solid;
     
}
.x{
    width: 60px;
    height: 60px;
}

#ammoBox{
    /*margin-right: -;*/
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    display: flex;
    border-color : transparent;
    border-width: 5px;
    border-style: solid;
     
}
.ammoIcon{
    margin: 2px;
    height: 90%;
    width: auto;
}

#roundNumber{
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: large;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-color : transparent;
    border-width: 5px;
    border-style: solid;
}


#pauseButton{
    background-color: #7fcf0e; /* Green */
    border: none;
    border-radius: 10px;
    margin-top: 8px;
    color: white;
    height:80%;
    width: 14%; 
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: border-radius 0.25s; 
}

#pauseButton:hover{
    border-radius: 0px;
}

#pauseMenu {
    display: none; 
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%; 
    height: 50%; 
    background-color: rgba(127, 207, 14, 0.75); 
    z-index: 2;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 200%; 
    text-align: center;
    border-style: solid;
    border-width: 5px; 
    border-color: #7fcf0e; 
    border-radius: 15px; 
}

.vol {
    position: absolute; 
    width: 20%; 
    top: 25%; 
    font-size: 60%; 
    border-radius: 20px; 
    background-color: #9cdfbd;
    transition: border-radius 0.25s, background-color 0.25s, color 0.25s, content 0.25s; 
}

.vol:hover{
    border-radius: 0px; 
}

#volDown {
    left: 10%; 
}

#volDown:hover {
    background-color: #d33e3e;  
    color: white; 
    content: "hello"; 
}

#vol {
    top: 32%; 
    left: 40%; 
    line-height: 25%;
    font-size: 65%; 
    background-color: rgba(0, 0, 0, 0); 
}

#volUp {
    left: 70%; 
}

#volUp:hover{
    background-color:#7fcf0e; 
    color: white; 
}

#volMute {
    top: 45%; 
    left: 40%;  
}

#unpauseButton {
    width: 30%; 
    height: 20%; 
    top: 67.5%; 
    left: 15%; 
    border-radius: 0px; 
    background-color: #d33e3e;
    color: white; 
    transition: border-radius 0.25s, background-color 0.25s; 
}

#unpauseButton:hover {
    border-radius: 15px; 
    background-color: #7fcf0e;
    color: white; 
}

#quitButton {
    width: 30%; 
    height: 20%; 
    top: 67.5%; 
    left: 55%;
    border-radius: 0px; 
    background-color: #d33e3e;
    color: white; 
    transition: border-radius 1.5s, background-color 1.5s, font-size 1.5s; 
}

#quitButton:hover {
    border-radius: 30px; 
    background-color: #681111;
    font-size: 100%; 
}

#volMute:hover{
    background-color: black; 
    color: white; 
}

#roundComplete{
    position: absolute;
    display:none;
    width: 80%;
    margin:10%;
}

#gameOver{
    position: absolute;
    display:none;
    width: 80%;
    margin:10%;
    z-index: 106; 
}

#mainMenu{
    position: absolute; 
    height: 60%; 
    width: 50%; 
    top: 5%; 
    left: 25%; 
}

.mainMenuButton{
    position: absolute; 
    height: 10%; 
    width: 50%; 
    left: 25%; 
    border-radius: 25px;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 90%; 
    background-color: #9cdfbd; 
    border-width: 100%; 
    transition: background-color 0.75s, border-radius 0.25s;
}
.mainMenuButton:hover{
    background-color: #7fcf0e; 
    border-radius: 5px; 
}

#normGameButton{
    top: 60%; 
}

#altGameButton{
    top: 75%; 
}

#aboutButton{
    top: 90%; 
}

#title {
    position: absolute; 
    width: 80%;
    height: 50%; 
    left: 15%; 
    background-image: url("images/goose_hunt.png"); 
    background-size: contain; 
}

#testStatus{
    position: absolute; 
    top: 630px; 
    left: 150px; 
}